# Logs
logs
*.log
npm-debug.log*
yarn.lock

# Runtime data
pids
*.pid
*.seed

.idea/

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# generated folders/files
/build
/dist
/site
.awcache

# Optional npm cache directory
.npm

.idea

# allow folks to add things to the debug /launch and /serve folder, but don't include them in git
debug/launch/*
!debug/launch/main.ts
!debug/launch/sp.ts
!debug/launch/graph.ts
!debug/launch/tsconfig.json

debug/serve/*
!debug/serve/main.ts
!debug/serve/tsconfig.json
!debug/serve/webpack.config.js

# project settings
settings.js

bower_components

# we don't use this in the repo
package-lock.json

# need to include this for bower to work, but leave this ignored as PRs
# with updates to dist will be disallowed
dist
