# Logs
logs
*.log
npm-debug.log*
yarn.lock

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# generated folders/files
/build
/dist
/debugging
/testing

# Optional npm cache directory
.npm

# allow folks to add things to the debug /launch and /serve folder, but don't include them in git
debug/launch/*
!debug/launch/debug.ts
!debug/launch/example.ts
!debug/launch/tsconfig.json

debug/serve/*
!debug/serve/serve.ts
!debug/serve/tsconfig.json

# project settings
settings.js

bower_components

# need to include this for bower to work, but leave this ignored as PRs
# with updates to dist will be disallowed
dist/
