language: node_js

node_js:
  - "8"

script:
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then mocha -- --mode pr; fi'
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then mocha -- --mode push; fi'
  