<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>@pnp - SharePoint Patterns and Practices JavaScript Libraries</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        SharePoint Patters and Practices
    </header>

    <article>
        $$content$$
    </article>

    <footer>
        &copy; Microsoft<br />
        Please <a href="https://github.com/pnp/pnp/issues/new?title=Documentation: $$OriginalFilePath$$&body=Please describe how we can improve the doc page:">report documentation issues</a> so we can improve things!
    </footer>
</body>

</html>