body {
    font-family: "Arial Narrow", Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #0078d7;
    color: #ffffff;
    padding: 1em;
    padding-bottom: 1.25em;
}

article {
    padding-left: 2em;
    padding-right: 2em;
}

footer {
    background-color: #71afe5;
    color: #ffffff;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 4em;
}

footer a {
    color: #ffffff;
}

h1 {
    color: #0078d7;
    margin-top: 2em;
}

h2 {
    color: #2b88d8;
    margin-top: 1em;
}

h3 {
    color: #71afe5;
}

code {
    width: 90%;
    display:block;
    background-color: #f5f5f5;
    overflow-x: auto;
    margin: 1em;
    font-family: "Input", "Courier New", Courier, monospace;
    border: 1px solid #aeaeae;
    padding: 3px;
}

#headerText {
    font-size: 2em;
    display:block;
}

#headerText a {
    color: #ffffff;
    text-decoration: none;
}

#subheaderText {
    font-size: 1.25em;
    display:block;
}

#packages-table table {
    padding: 4px;
}

#packages-table table td:nth-child(2) {
    font-weight: bold;
    font-size: 1.1em;
}

#packages-table table td:nth-child(2) a  {
    text-decoration: none;
    color: rgb(0, 0, 238);
}

#packages-table table td:nth-child(3) {
    padding-left: 5px;
}

#packages-table table tr:first-child td:first-child {
    font-weight: bold;
    font-size: 1.2em;
}
